<div class="portal--public--top-menu">

    <p-toolbar>
        <div class="w-full flex justify-content-center md:justify-content-end align-content-center align-items-center">
            <div class="flex justify-content-between align-content-center align-items-center">

                <div class="m-2 w-7rem flex justify-content-center">
                    <p-button (click)="toAbout()"
                              label="{{'portal.public.topMenu.linkToAbout' | translate}}"
                              [text]="true"
                              styleClass="p-button-success"
                    ></p-button>
                </div>

                <div class="m-2 w-7rem flex justify-content-center cursor-pointer "
                     (click)="selectingLanguage.show($event)">
                    @switch (currentLanguage) {
                        @case ("en") {
                            <i class="fi fi-gb text-lg"></i>
                        }
                        @case ("de") {
                            <i class="fi fi-de text-lg"></i>
                        }
                    }
                </div>

                <div class="m-2 w-7rem flex justify-content-center">
                    <p-button (click)="toLogin()"
                              label="{{'portal.public.topMenu.linkToLogin' | translate}}"
                              icon="pi pi-sign-in"
                              [text]="true"
                              styleClass="p-button-success"
                    ></p-button>
                </div>

            </div>
        </div>
    </p-toolbar>

    <p-overlayPanel #selectingLanguage>
        <ng-template pTemplate>
            <div class="flex flex-column align-items-center">

                <div (click)="selectLanguage('de')"
                     class="w-full cursor-pointer flex justify-content-start align-items-center flex-wrap py-2"
                >
                    <i class="fi fi-de text-base"></i>
                    <div class="px-1">{{'portal.common.language.de' | translate}}</div>
                </div>

                <div (click)="selectLanguage('en')"
                     class="w-full cursor-pointer flex justify-content-start align-items-center flex-wrap py-2"
                     style="margin: 0.5em;"
                >
                    <i class="fi fi-gb text-base"></i>
                    <div class="px-1">{{'portal.common.language.en' | translate}}</div>
                </div>

            </div>
        </ng-template>
    </p-overlayPanel>

</div>
