.public {
  &--layout {

    background-image: url("../../../assets/images/login--background.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;

    &__content {
      height: 100%;
      width: 100%;
    }

    .p-scrollpanel .p-scrollpanel-bar {
      background: #bcbfc1;
      border: 1px solid #070707;
    }

  }
}


