.main-layout {
  &--sidebar-menu {

    width: min-content;
    height: 100%;
    border-radius: 10px;
    border-top: 10px solid darken($primaryColor, 7%);
    border-bottom: 10px solid darken($primaryColor, 7%);
    background-color: $primaryColor;
    transition: transform .3s, border-radius .3s;
    position: relative;
    overflow: hidden;

    @media (max-width: 768px) {
      min-width: 1rem;
      border-radius: 0px;
    }

    &__logo {
      padding-right: 0.5rem;
      padding-left: 0.5rem;

      &__image {
        img {
          width: calc($fontSize * 14) !important;
          height: calc($fontSize * 4) !important;
        }
      }

      &__text {
        color: white;
        font-size: calc($fontSize * 0.9) !important;
      }

      @media (max-width: 768px) {

        padding-right: 0.2rem;
        padding-left: 0.2rem;

        &__image {
          img {
            width: calc($fontSize * 5) !important;
            height: calc($fontSize * 3) !important;
          }
        }
        &__text {
          display: none;
        }
      }
    }

    &__main-submenu {
      .p-panelmenu .p-panelmenu-panel {
        background: transparent;

        .p-panelmenu-header-content {
          background: transparent;

          .p-panelmenu-header-action {
            padding: calc($fontSize * 1);

            .p-menuitem-icon {
              background: transparent;
              background-color: $primaryTextColor;
            }

            .p-menuitem-text {
              background: transparent;
              color: $primaryTextColor;
            }

            &:hover {
              .p-menuitem-icon {
                background: transparent;
                background-color: $textColor;
              }

              .p-menuitem-text {
                background: transparent;
                color: $textColor;
              }
            }
          }
        }

        @media (max-width: 768px) {
          .p-panelmenu-header-content {
            background: transparent;

            .p-panelmenu-header-action {
              flex-direction: column;
              padding: calc($fontSize * 1);

              .p-menuitem-icon {
                padding: 0;
                margin: 0;
              }

              .p-menuitem-text {
                display: none;
              }

              &:hover {
                .p-menuitem-icon {
                  background: transparent;
                  background-color: $textColor;
                }

                .p-menuitem-text {
                  background: transparent;
                  color: $textColor;
                }
              }
            }
          }

        }
      }
    }

    &__settings-submenu {

      .p-panelmenu {
        background: darken($primaryColor, 7%);
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-top: 1px solid white;
      }

      .p-panelmenu .p-panelmenu-panel {
        background: transparent;
        border: none;
        margin-bottom: 0rem;

        .p-panelmenu-header-content {
          background: transparent;

          .p-panelmenu-header-action {
            padding: calc($fontSize * 0.5) calc($fontSize * 1) calc($fontSize * 0.5) calc($fontSize * 1);

            .p-menuitem-icon {
              background: transparent;
              background-color: $primaryTextColor;
            }

            .p-menuitem-text {
              background: transparent;
              color: $primaryTextColor;
            }

            &:hover {
              .p-menuitem-icon {
                background: transparent;
                background-color: $textColor;
              }

              .p-menuitem-text {
                background: transparent;
                color: $textColor;
              }
            }
          }
        }

        @media (max-width: 768px) {
          .p-panelmenu-header-content {
            background: transparent;

            .p-panelmenu-header-action {
              flex-direction: column;
              padding: calc($fontSize * 0.5) calc($fontSize * 1) calc($fontSize * 0.5) calc($fontSize * 1);

              .p-menuitem-icon {
                padding: 0;
                margin: 0;
              }

              .p-menuitem-text {
                display: none;
              }

              &:hover {
                .p-menuitem-icon {
                  background: transparent;
                  background-color: $textColor;
                }

                .p-menuitem-text {
                  background: transparent;
                  color: $textColor;
                }
              }
            }
          }

        }
      }
    }

    &__language-submenu {
      .p-tieredmenu-overlay {
        top: auto;
        bottom: 0;
      }

      @media (max-width: 768px) {
        .p-tieredmenu .p-menuitem > .p-menuitem-content .p-menuitem-link {
          flex-direction: column;

          .p-menuitem-icon {
            margin-right: 0;
            margin-bottom: 0.5rem;
          }

          .p-menuitem-text {
            display: none;
          }
        }
      }
    }

  }
}
