@use "sass:meta";

@import "primeicons/primeicons.css";
@import './theme/theme-custom/fonts';
@import "./theme/theme-custom/variables";
@import "./theme/themes/aura/aura-light/blue/theme";
@import "./theme/theme-custom/theme";

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: $shade100;
  overflow: hidden;
}
